@charset "UTF-8";

body {
color: #575c7a;
line-height: 1.5em;
font-family: Arial;
font-size: 14px;
background-color: #fcfbe4;
}
.image_container1{ width: 61px;
height: 61px;
border: 1px solid;
float:left;
position:relative;
margin: 20px 0px 0px 10px;
}

.list1{
position:absolute;
top:57px;
left:1%;
width:98%;
}


.name{
width:74%;
margin-top:40px;
margin-left: 10px;
float: left;
overflow:hidden;
}


.container
{

max-width: 1125px;
margin: 0px auto 0px auto;
background-color:#fff;

}



/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
-webkit-box-shadow: 0 0 10px #00aef1;
-moz-box-shadow: 0 0 10px #00aef1;
box-shadow: 0 0 10px #00aef1;
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
height: 100px;
	width: 48%;
float:right;
cursor:pointer;
	}
.span_1_of_2 {
	display: inline-block;
	height: 100px;
	width: 48%;
	float:left;
cursor:pointer;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 700px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
.name{
width:55%;
margin-top:40px;
margin-left: 10px;
float: left;
overflow:hidden;
}
	}

@media only screen and (max-width: 600px) {
.list1{
position:absolute;
top:123px;
left:1.5%;
width:97%;
}

}


@media only screen and (max-width: 700px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%;
	}
	
	}

@media only screen and (min-width:701px ) and (max-width:1125px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (min-width:701px ) and (max-width:1125px) {
	.span_2_of_2 {
		width: 48%;
float:right;		
	}
	.span_1_of_2 {
	width: 48%;
float:left;
	}

}