body,html{
background:#fcfbe4;
height:100%;
}

.all_info{
position:absolute;
left:9%;
right:9%;
top:50px;
background-color:#A0A0A0;
width:81%;
}


.part2
{
position:absolute;
top:10px;
z-index:1;
width:100%;
height:335px;
left:0%;
right:0%;

background:#f3f3f3;


 }

.part1
{
position:absolute;
top:15px;
left:21%;
right:0px;
font-size:1.6em;
font-family:'Book Antiqua',Helvetica, sans-serif;
text-decoration:underline;

width:79%;
height:43px;

color:black;
}

.x1{
position:absolute;
left:0px;
top:0px;
height:200px;
width:18%;

}


.x
{
position:absolute;
left:0px;
top:0px;
height:200px;
width:100%;
}


.profilebutton{
position: absolute;
  /*  left: 70px; */
left:50%;
margin-left:-32px;
    top:167px;
    width: 65px;
    height: 25px;
display:none;
text-decoration:bold;
text-align:center;
color:white;
background-color:#01aef0;
font-weight:bold;
font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.profilebutton input{
position:absolute;
  filter: alpha(opacity=0);
   opacity: 0;   
left:0px;
top:0px;
width:65px;
cursor:pointer;
}

.x1:hover .profilebutton{
display:block;
cursor:pointer;
}

,file_pic{
cursor:pointer;
}

.no_review
{
position:absolute;
left:21%;

top:68px;
font-size:105%;
}


.follow
{
position:absolute;
display:none;
width:130px;
right:5%;
top:15px;
font-size:120%;
background-color:#01aef0;
color:#fff;
border:1px solid #dcdcdc;
font-size:120%;
height:38px;
text-align:center;
cursor:pointer;
}
.part2 .follow2
{
position:absolute;
width:15%;
left:75%;
top:10%;
font-size:120%;
border:1px solid #dcdcdc;
font-size:120%;
height:30px;
cursor:pointer;
color:rgba(40,100,130,0.9);
text-align:center;

}
.has
{
position:absolute;
top:197px;
left:21%;
z-index:1;
}

.part2 .below
{
position:absolute;
padding:1px;
background-color:#FFFFFF;
font-size:100%;
top:205px;
left:0px;
width:18%;
height:125px;
font-family:'Book Antiqua',Helvetica, sans-serif;
padding:0px;
}

.f1
{
position:absolute;
font-size:1.05em;
left:0px;
width:100%;
height:30px;
text-align:center;
border-bottom:2px solid gray;
padding-top:15px;
padding-bottom:15px;

background-color: #ececec;
background: -webkit-linear-gradient(#f3f3f3, #e5e5e5);
background: linear-gradient(#f3f3f3, #e5e5e5);
border-radius: 4px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
border-left: 1px solid #d4d4d4;
border-left: 1px solid rgba(0, 0, 0, 0.17);
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-right: 1px solid rgba(0, 0, 0, 0.17);
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.f1:active{
background-color: #f9f9f9;
background: -webkit-linear-gradient(#fff, #f4f4f4);
background: linear-gradient(#fff, #f4f4f4);
}

.f2
{
position:absolute;
font-size:1.05em;
top:57px;
height:30px;
left:0px;
width:100%;
text-align:center;
padding-top:15px;
padding-bottom:15px;
border-bottom:2px solid gray;

background-color: #ececec;
background: -webkit-linear-gradient(#f3f3f3, #e5e5e5);
background: linear-gradient(#f3f3f3, #e5e5e5);
border-radius: 4px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
border-left: 1px solid #d4d4d4;
border-left: 1px solid rgba(0, 0, 0, 0.17);
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-right: 1px solid rgba(0, 0, 0, 0.17);
border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.f2:active{
background-color: #f9f9f9;
background: -webkit-linear-gradient(#fff, #f4f4f4);
background: linear-gradient(#fff, #f4f4f4);
}

.part3_feed
{
position:absolute;
top:330px;

padding:2px;
background-color:rgba(70,130,160,0.9);
left:0px;

float:left;

right:0%;

height:auto;
z-index:3;
width:99.6%;

background-color: #ececec;
background: -webkit-linear-gradient(#f3f3f3, #e5e5e5);
background: linear-gradient(#f3f3f3, #e5e5e5);

border-radius: 4px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
border-left: 1px solid #d4d4d4;
border-left: 1px solid rgba(0, 0, 0, 0.17);
border-top: 3px solid black;
border-right: 1px solid rgba(0, 0, 0, 0.17);
border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.feed_boxes{
position:relative;

float:left;
width:78%;

top:0px;

text-align:center;

border-left:1px solid black;

}

.box1
{
position:relative;
display:inline-block;
left:0%;
right:1%;
width:98%;

padding-top:5px;
padding-bottom:10px;


font-size:14px;
text-align:left;
line-height:21px;

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 15%, #d7e9f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(15%,#ffffff), color-stop(100%,#d7e9f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 15%,#d7e9f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 15%,#d7e9f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 15%,#d7e9f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 15%,#d7e9f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7e9f5',GradientType=0 ); /* IE6-9 */
}

.new
{
position:relative;
cursor:pointer;
margin:1px;

}
.new:hover
{
border:1px solid gray;
}

.left_heading{
float:left;
left:0px;

top:0px;
width:18%;
height:100%;
text-align:center;

font-size:1.1em;

font-family:'Book Antiqua',Helvetica, sans-serif;

padding-top:70px;
padding-bottom:70px;

cursor:pointer;
}

.left_heading:active{
background-color: #f9f9f9;
background: -webkit-linear-gradient(#fff, #f4f4f4);
background: linear-gradient(#fff, #f4f4f4);
color: #333;
}