
.t1
{
position:absolute;
left:12%;
width:350px;
top:30%;
}

.puddlz
{
position:relative;
float:right;
color:#235177;
font-size:6.5em;
font-family: 'Sail', cursive;
}

.subtitle
{
position:relative;
font-family:'Averia Sans Libre', cursive;
font-size:95%;
float:right;
}

.topbutton{
position:absolute;
right:4%;
width:545px;
top:40px;
height:100px;
}


.submit1
{

-moz-box-shadow:inset -1px 1px 0px 0px #f29c93;
-webkit-box-shadow:inset -1px 1px 0px 0px #f29c93;
box-shadow:inset -1px 1px 0px 0px #f29c93;
background: -webkit-linear-gradient(#fe1a00,  #ce0100); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#fe1a00,  #ce0100); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#fe1a00,  #ce0100); /* For Firefox 3.6 to 15 */
background: linear-gradient(#fe1a00,  #ce0100); /* Standard syntax */

color:#ffffff;
width:100px;
height:30px;

border-radius:5px;
cursor:pointer;
font-family: 'Convergence', sans-serif;
font-size:1em;
float:right;
}

.buttons
{
position:absolute;
left:64%;
width:20%;
height:auto;
float:left;
top:33%;
}


.top1
{
width:100%;
font-family: 'Convergence', sans-serif;
font-size:1em;
float:left;
}

.in1
{
float:left;
left:0%;
width:100%;

height:30px;
padding:1px;

margin:10px 0px 0px -0px;
border-top:1px solid black;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:0px solid black;
border-top-left-radius:5px;
border-top-right-radius:5px;

padding:5px;
}

.in5
{
float:left;
left:0%;
width:100%;
height:30px;
padding:1px;
margin:0px 0px 0px -0px;

border-top:1px solid gray;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:1px solid black;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

padding:5px;
}

.sb{
width:100%;
text-align:center;
}

.submit2
{

background: rgb(35,81,119); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,81,119,1) 0%, rgba(41,111,155,1) 35%, rgba(48,124,168,1) 59%, rgba(92,168,208,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,81,119,1)), color-stop(35%,rgba(41,111,155,1)), color-stop(59%,rgba(48,124,168,1)), color-stop(100%,rgba(92,168,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235177', endColorstr='#5ca8d0',GradientType=0 ); /* IE6-9 */
color:#ffffff;


width:100px;
height:30px;

border-radius:5px;
cursor:pointer;
font-family: 'Convergence', sans-serif;
font-size:1em;

margin-top:10px;
}


@media only screen and (min-width:601px ) and (max-width:1125px) {
.t1
{
position:absolute;
left:10%;
width:270px;
top:30%;
}

.puddlz
{
position:relative;
float:right;
color:#235177;
font-size:5em;
font-family: 'Sail', cursive;
}

.buttons
{
position:absolute;
right:12%;
width:24%;
height:auto;
float:left;
top:33%;
}


}


@media only screen and (min-width:50px ) and (max-width:600px) {

.t1
{
position:absolute;
left:0px;
height:100px;
width:100%;
top:2px;
}

.puddlz
{
position:relative;
top:5%;
left:0px;
width:100%;
color:#235177;
font-size:4.0em;
font-family: 'Sail', cursive;
text-align:center;
}

.subtitle
{
position:relative;
float:none;
font-family:'Averia Sans Libre', cursive;
font-size:0.85em;
top:20%;
text-align:center;
}

.buttons{
position:absolute;
left:15%;
width:70%;
top:160px;
height:160px;
}

}