.t1
{
position:absolute;
left:0px;
height:100px;
width:100%;
top:2px;
}

.puddlz
{
position:relative;
top:5%;
left:0px;
width:100%;
color:#235177;
font-size:4.0em;
font-family: 'Sail', cursive;
text-align:center;
}

.subtitle
{
position:relative;
float:none;
font-family:'Averia Sans Libre', cursive;
font-size:0.85em;
top:20%;
text-align:center;
}


.topbutton{
position:fixed;
left:0px;
width:100%;
top:130px;
height:140px;
}

.email_and_pwd{
position:fixed;
float:left;
left:0%;
width:100%;
height:100%;
}


.top1
{
position:absolute;
top:4px;
height:20px;
left:50%;
margin:0px 0px 0px -110px;

font-family: 'Convergence', sans-serif;
font-size:0.8em;

width:80px;
}

.in1
{
position:absolute;
top:30px;
width:220px;

height:30px;
padding:1px;
margin:0px 0px 0px -110px;
border-top:1px solid black;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:0px solid black;
border-top-left-radius:5px;
border-top-right-radius:5px;

left:50%;
}

.in5
{
position:absolute;
top:60px;
width:220px;
height:30px;
padding:1px;
margin:0px 0px 0px -110px;

border-top:1px solid gray;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:1px solid black;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

left:50%;
}


.submit1
{
position:absolute;
background: rgb(35,81,119); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,81,119,1) 0%, rgba(41,111,155,1) 35%, rgba(48,124,168,1) 59%, rgba(92,168,208,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,81,119,1)), color-stop(35%,rgba(41,111,155,1)), color-stop(59%,rgba(48,124,168,1)), color-stop(100%,rgba(92,168,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235177', endColorstr='#5ca8d0',GradientType=0 ); /* IE6-9 */
color:#ffffff;
width:80px;
height:40px;
padding:1px;
margin:0px 0px 0px -40px;
border-radius:5px;
cursor:pointer;
font-family: 'Convergence', sans-serif;
font-size:0.8em;

top:95px;
left:50%;
}


.fbimage{
position:absolute;
left:1px;
top:4px;
background-image:url(fb2.png);
height:29px;
width:29px;
}

.buttons
{
position:absolute;
left:0px;
width:100%;
top:290px;
height:100px;

}

#logIn
{
position:relative;
left:50%;
float:none;
background: rgb(35,81,119); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,81,119,1) 0%, rgba(41,111,155,1) 35%, rgba(48,124,168,1) 59%, rgba(92,168,208,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,81,119,1)), color-stop(35%,rgba(41,111,155,1)), color-stop(59%,rgba(48,124,168,1)), color-stop(100%,rgba(92,168,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235177', endColorstr='#5ca8d0',GradientType=0 ); /* IE6-9 */
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
font-style:normal;
height:50px;
line-height:35px;
width:200px;
margin:0px 0px 0px -100px;
text-align:center;
cursor:pointer;	
border-radius:10px;
}

#here
{
position:relative;
left:50%;
float:none;
-moz-box-shadow:inset -1px 1px 0px 0px #f29c93;
-webkit-box-shadow:inset -1px 1px 0px 0px #f29c93;
box-shadow:inset -1px 1px 0px 0px #f29c93;
background: -webkit-linear-gradient(#fe1a00,  #ce0100); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#fe1a00,  #ce0100); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#fe1a00,  #ce0100); /* For Firefox 3.6 to 15 */
background: linear-gradient(#fe1a00,  #ce0100); /* Standard syntax */

color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
font-style:normal;
height:45px;
line-height:30px;
width:222px;
margin:0px 0px 0px -105px;
text-align:center;
cursor:pointer;
border-radius:10px;	
}
#fb
{
position:relative;
left:50%;
-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
box-shadow:inset 0px 1px 0px 0px #97c4fe;

background: -webkit-linear-gradient(#3d94f6,  #1e62d0); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#3d94f6,  #1e62d0); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#3d94f6,  #1e62d0); /* For Firefox 3.6 to 15 */
background: linear-gradient(#3d94f6,  #1e62d0); /* Standard syntax */
background-color:#3d94f6;

padding-left:32px;

color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
font-style:normal;
height:45px;
line-height:30px;
width:222px;
margin:0px 0px 0px -105px;

text-align:center;
cursor:pointer;
border-radius:10px;
}
