
.big1
{
position:fixed;
left:35%;
top:20%;
width:30%;

height:auto;
border:1px solid black;
border-radius:4px;
margin:1px;
padding:5px;

//background-color: #00aeef;

background: -webkit-linear-gradient(white, #D7E9F5); 
background: -o-linear-gradient(white, #D7E9F5); 
background: -moz-linear-gradient(white, #D7E9F5);
background: linear-gradient(white, #D7E9F5);

padding-bottom:20px;
padding-top:20px;

}

.bigm
{
width:100%;
line-height:25px;
font-size:1.1em;
}


@media only screen and (min-width:50px ) and (max-width:600px) {

.big1
{
position:fixed;
left:22%;
top:20%;
width:56%;
}


}
