
.big1
{
position:fixed;
left:35%;
top:20%;
width:30%;

height:auto;
border:1px solid black;
border-radius:4px;
margin:1px;
padding:5px;

//background-color: #00aeef;

background: -webkit-linear-gradient(white, #D7E9F5); 
background: -o-linear-gradient(white, #D7E9F5); 
background: -moz-linear-gradient(white, #D7E9F5);
background: linear-gradient(white, #D7E9F5);

padding-bottom:20px;
padding-top:20px;

}

.bigm
{
width:100%;
line-height:25px;
font-size:1.1em;
}

.emai{
width:100%;
height:33px;
}

.em1{
float:left;
left:0%;
width:73%;

height:30px;
padding:5px;
margin:0px;
border:1px solid black;
}

.bigs
{
padding-top:5px;
padding-bottom:5px;

float:left;

background: rgb(35,81,119); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,81,119,1) 0%, rgba(41,111,155,1) 35%, rgba(48,124,168,1) 59%, rgba(92,168,208,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,81,119,1)), color-stop(35%,rgba(41,111,155,1)), color-stop(59%,rgba(48,124,168,1)), color-stop(100%,rgba(92,168,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(35,81,119,1) 0%,rgba(41,111,155,1) 35%,rgba(48,124,168,1) 59%,rgba(92,168,208,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235177', endColorstr='#5ca8d0',GradientType=0 ); /* IE6-9 */
color:#ffffff;
margin:1px;

cursor:pointer;
border:1px solid black;
border-radius:2px;
height:30px;
width:25%;
}

@media only screen and (min-width:50px ) and (max-width:600px) {

.big1
{
position:fixed;
left:30%;
top:20%;
width:40%;
}


.em1{
float:left;
left:0%;
width:100%;

height:30px;
padding:5px;
margin:0px;
border:1px solid black;
}

.bigs
{
position:relative;
left:50%;
margin-left:-30px;
width:60px;
margin-top:12px;
}

}