body{
background-color: #fcfbe4;}

.container
{
position:fixed;
left:25%;
top:20%;
width:50%;

height:auto;

-webkit-box-shadow: 0 0 10px #00aef1;
-moz-box-shadow: 0 0 10px #00aef1;
box-shadow: 0 0 10px #00aef1;
margin:1px;
padding:5px;
border-radius:4px;
//background-color: #00aeef;

background:white;
padding-bottom:10px;

}

.name{

position:relative;
display:inline-block;
left:0%;
width:100%;
height:auto;
top:0px;




font-size:14px;
text-align:left;
line-height:21px;

}

.photo{
left:5px;
width:60px;
height:60px;
top:3px;
float:left;
}

.displayname{
float:left;
margin-left:10px;
font-size:15px;
font-family: Verdana, Times New Roman;
}

.msg
{

display:inline-block;
left:0%;
padding-top:5px;
padding-bottom:5px;

font-size:14px;
line-height:21px;


width:100%;

font-family: Verdana, Times New Roman;
text-align:center;
}

.lb{
height:28px;
width:100%;
text-align:center;
}

.login_button{
padding-top:5px;
padding-bottom:5px;


background:#00aeef;
color:#ffffff;
margin:1px;
cursor:pointer;

border-radius:2px;
height:30px;
width:80px;


}

.login_different{

width:100%;
font-size:15px;
font-family: Verdana, Times New Roman;
text-align:center;
}

@media only screen and (min-width:50px ) and (max-width:600px) {

.container
{
position:fixed;
left:10%;
top:10%;
width:80%;
height:auto;

border-radius:4px;
margin:1px;
padding:1px;
background: white;
}

}