 body{
background-color:#fcfbe4 ;}

.big1
{
position:absolute;
left:25%;
top:20%;
width:50%;

height:auto;
border-radius:4px;
margin:1px;
padding:5px;
background-color:white;

padding-bottom:20px;
padding-top:20px;
-webkit-box-shadow: 0 0 10px #00aef1;
-moz-box-shadow: 0 0 10px #00aef1;
box-shadow: 0 0 10px #00aef1;

}

.bigm
{
width:100%;
text-align:center;
line-height:25px;
font-size:1.1em;
}

.lb{
width:100%;
text-align:center;
height:30px;
}

.bigs
{
padding-top:5px;
padding-bottom:5px;

background: #00aeef;
color:#ffffff;
margin:1px;
cursor:pointer;
border-radius:2px;
height:28px;
width:80px;
}

