#container{
position:fixed;
left:9%;;    
width:70%;
    overflow-x:hidden;
   border:1px solid gray;
}

#parent {
    width:6000px;
}

.contentBlock {
    font-size:3em;
    text-align:center;
    line-height:50px;
    height:100px;
    width:300px;
    margin:60px;
    border:1px solid black;
    float:left;
}
.panner {
    border:1px solid black;
    display:block;
    position:fixed;
    width:30px;
    height:50px;
    top:30px;
}
.active {
    color:red;
}
#panLeft {
    left:2px;
}
#panRight {
    right:2px;
}